{% extends "Layout.html" %} {% block content %}
<style>
  .table {
    background-color: #fffff0;
    color: black;
  }
</style>
<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-md">
      <h1>WELCOME! {{ session['username'] }}</h1>
    </div>
  </div>
  <div class="row justify-content-center align-items-center">
    <div class="col-md">
      <h2>Your Flights:</h2>
    </div>
  </div>
  <table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">Airline</th>
        <th scope="col">Departure Airport</th>
        <th scope="col">Departure Time</th>
        <th scope="col">Arrival Airport</th>
        <th scope="col">Arrival Time</th>
        <th scope="col">Price</th>
        <th scope="col">Status</th>
        <th scope="col">Flight Number</th>
      </tr>
    </thead>
    <tbody>
      {% for i in session['history'] %}
      <tr>
        <td>{{ i.airline_name }}</td>
        <td>{{ i.departure_airport }}</td>
        <td>{{ i.departure_time }}</td>
        <td>{{ i.arrival_airport }}</td>
        <td>{{ i.airline_time }}</td>
        <td>{{ i.price }}</td>
        <td>{{ i.status }}</td>
        <td>{{ i.flight_num }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
