{% extends "Layout.html" %} {% block content %}
<style>
  .table {
    background-color: #fffff0;
    color: black;
  }
</style>
<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-md">
      <h1>WELCOME! {{ session['username'] }}</h1>
    </div>
  </div>
  <div class="row justify-content-center align-items-center">
    <div class="col-md">
      <h2>Your Flights:</h2>
    </div>
  </div>
  <table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">Airline</th>
        <th scope="col">Departure Airport</th>
        <th scope="col">Departure Time</th>
        <th scope="col">Arrival Airport</th>
        <th scope="col">Arrival Time</th>
        <th scope="col">Price</th>
        <th scope="col">Status</th>
        <th scope="col">Flight Number</th>
      </tr>
    </thead>
    <tbody>
      {% for i in session['data']['history'] %}
      <tr>
        <td>{{ i.airline_name }}</td>
        <td>{{ i.departure_airport }}</td>
        <td>{{ i.departure_time }}</td>
        <td>{{ i.arrival_airport }}</td>
        <td>{{ i.airline_time }}</td>
        <td>{{ i.price }}</td>
        <td>{{ i.status }}</td>
        <td>{{ i.flight_num }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <canvas id="6mbarchart" width="800" height="400"></canvas>
  <script>
    var ctx = document.getElementById('6mbarchart').getContext('2d');
    var barchart = new Chart(ctx, {type:'bar', data: {labels: {{session['data']['label'] | safe}} , datasets:[{ label:'Spending', data: {{session['data']['ldata'] | safe}} , fill: true, backgroundColor: "rgba(195, 247, 72, 0.3)", borderColor:"rgba(124, 72, 247.0.9)",borderWidth: 1}]}});
  </script>
</div>
{% endblock %}
